*{
    padding: 0px;
    margin:0px;
    font-family:roboto;
}
body{
    background-color: #F6FAFD;
}
.section1{
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 60px;
}
.textoCalculador{
    padding-bottom: 44px;
}
.textoCalculador p{
    font-size: 48px;
    line-height: 56px;
    color: #2F4251;
}
p{
    font-size: 14px;
    line-height: 16px;
    color: #BBC7D6;
    padding-bottom: 6px;
    padding-top: 27px;
}
input{
    border: none;
    border-bottom: 1px solid #52729E;
    background-color:transparent;
    width: 100%;
    font-size:48px;
    line-height: 56px;
    color: #2F4251;  
}